* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #40514e;
  text-align: center;
  font-family: "Montserrat", serif;
  font-size: 16px;
}

.myhr {
  width: 4%;

  border: dotted #e0ebe817 6px;
  border-bottom: none;
  margin: 0 auto;
  margin-bottom: 60px;
}

.myhr--dark {
  border: dotted #e0ebe8 6px;
  border-bottom: none;
}

.header__main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(..//css/img/hero.jpg);

  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 25px 1px 15px 1px;
  overflow: hidden;
}

.header__sub {
  padding: 25px 1px 15px 1px;
  overflow: hidden;
}

.logo {
  text-align: right;
}

.logo__pic {
  width: 15%;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  display: relative;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper p {
  color: #4ab19a;
  font-family: "Montserrat";
}

.picture__me {
  margin: 35px;
  height: 90px;
  width: auto;
  border-radius: 50%;
  margin-right: 4px;
}

.hero-text-box {
  margin: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 900px;
  text-align: left;
}

h1 {
  font-family: "Montserrat";
  font-size: 450%;
  color: #fff;
  font-weight: 100;
  word-spacing: 4px;
  margin-bottom: 25px;
}

.button {
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
}

.button--a {
  background-color: #4ab19a;
}

.button--a:hover {
  background-color: #368170;
}

.button--b {
  border: 1px solid #4ab19a;
}

.button--b:hover {
  background-color: #4ab19a;
}

.main-nav {
  font-family: "Montserrat";
  width: 70%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.main-nav__button {
  text-decoration: none;
  padding: 1px 15px;
  color: #fff;
  font-size: 140%;
}

.main-nav li:not(:last-child) {
  margin-right: 25px;
}

.main-nav__button:hover {
  color: #4ab19a;
  transition: all 0.2s;
}

.a {
  font-size: 40px;
}

/*mobile nav */
.mobile-nav-icon {
  cursor: pointer;
  display: none;
  margin: 35px;
}

.mobile-nav-icon i {
  color: white;
}

/*sub nav*/
.sub-nav {
  font-family: "Montserrat";
  width: 70%;
}

.sub-nav__button {
  text-decoration: none;
  padding: 1px 15px;
  color: #4ab19a;
  font-size: 140%;
  border-bottom: 2px solid transparent;
}

.sub-nav li:not(:last-child) {
  margin-right: 25px;
}

.sub-nav__button:hover {
  border-bottom: 1px solid #409c88;

  transition: all 0.5s;
}

/* TOP CONTAINER */
#skills {
  padding: 80px 0;
  margin-bottom: 84px;
}

.hero-image {
  width: 20%;

  border-radius: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 180%;
  color: #4ab19a;
}

.hero-action {
  margin-bottom: 80px;
}

.hero-action p {
  font-size: 110%;
  line-height: 1.5;
}

.yetenek {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-top: 60px;
  width: 33.3%;
}

.skill__pictures {
  width: 100%;
  display: block;
}

/* MIDDLE CONTAINER */
#middle {
  padding: 80px 0;
  margin-bottom: 84;
}

.theback__table {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  font-size: 25px;
}

.theback {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

td {
  text-align: start;
}

/* TESTIMONIALS */
#testimonials {
  padding: 80px 0;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(..//css/img/testimonial.jpg);

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: #fff;
}

.t3 {
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.t3__white {
  color: white;
}

.t3__green {
  color: #1e836c;
}

.t3__lightgreen {
  color: #4ab19a;
}

.testimonials__box {
  display: flex;
  justify-content: space-between;
}

blockquote {
  line-height: 1.5;
  font-style: italic;
  text-align: left;
  padding: 2%;
  font-family: "Montserrat";
  font-size: 18px;
}

.fa-quote-left {
  margin-right: 12px;
  color: #4ab19a;
}

cite {
  margin-top: 25px;
  display: block;
  margin-top: 25px;

  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.reference {
  width: 20%;
  border-radius: 50%;

  margin-right: 10px;
}

/*FORM*/
#contact {
  padding: 80px 0;
  overflow: hidden;
  font-size: 18px;
}

.contact__questions {
  display: flex;
  padding: 5px;
  margin-bottom: 20px;
}

.contact__label {
  flex: 0 0 35%;
  text-align: left;
}

.contact__input {
  flex: 0 0 65%;
}

#communication {
  margin-right: 5px;
}

.check {
  margin-right: 15px;
}

input {
  padding: 15px;
}

select {
  padding: 15px;
}

textarea {
  padding: 15px;
}

/* FOOTER */
footer {
  padding: 80px 0;
  background-color: #e0ebe8;
}

.fab {
  color: grey;
  margin-right: 5px;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
}

.footer__nav a {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: #1e836c;
}

/* Videos */
.video {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
}

.portfolio {
  padding-top: 42px;
}

.portfolio--darker {
  background: #f4f4f4;
}

.portfolio {
  padding: 80px 0;
}

.flexforvideo {
  display: flex;
}

iframe {
  margin-bottom: 15px;
}

/*Amazing Skills*/
.amazing-skills {
  padding: 25px 0 50px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.maincontainer {
  position: relative;
  width: 320px;
  height: 420px;
  perspective: 150rem;
  -moz-perspective: 150rem;
}

.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  box-shadow: rgba(0, 94, 62, 0.15) 0px 1.5rem 4rem;
  font-family: "Montserrat", serif;
}

.thecard:hover,
.thecard:focus {
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;

  border-radius: 4px;

  font-weight: bold;
  padding: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color: #333;
  transform: rotateY(180deg);
  padding: 45% 2% 2% 2%;
}

.theback__table {
  font-size: 20px;
}

.cardpics {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.green-sign {
  color: #1e836c;
  font-size: 120%;
  font-style: bold;
}

#menuToggle {
  display: none;
  position: relative;
  top: -12px;
  right: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #4ab19a;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #4ab19a;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -52px 0 0 -183px;
  padding: 51px;
  padding-top: 56px;

  background: #2b272791;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(700%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}
